[submodule "firmware/gateway"]
	path = firmware/gateway
	url = https://github.com/llescano/ghost-firmware-gateway.git
[submodule "backend"]
	path = backend
	url = https://github.com/llescano/ghost-backend-supabase.git
[submodule "webapp"]
	path = webapp
	url = https://github.com/llescano/ghost-webapp.git
[submodule "firmware/sensor"]
	path = firmware/sensor
	url = https://github.com/llescano/ghost-firmware-sensor.git
